In [1]:
import json
import csv
import pandas as pd
with open('tamidweek1-default-rtdb-export.json') as json_file:
    data = json.load(json_file)
print(data)

{'Schedule': [{'Building': 'online', 'Class': 'INST126', 'Credits': 3, 'Professor': 'Linderman'}, {'Building': 'Tawes', 'Class': 'BMGT289E', 'Credits': 3, 'Professor': 'schlake'}, {'Building': 'Cambridge Center', 'Class': 'ENGL101', 'Credits': 3, 'Professor': 'Payne'}, {'Building': 'Physics', 'Class': 'TLPL', 'Credits': 1, 'Professor': 'Karig'}]}

In [7]:
names = data['Schedule']
data_file = open('tamidweek1-default-rtdb-export.csv', 'w')
csv_writer = csv.writer(data_file)
csv_writer.writerow(names[0].keys())
for name in names: 
    csv_writer.writerow(name.values())
data_file.close()

In [8]:
import pandas as pd
df = pd.read_csv('tamidweek1-default-rtdb-export.csv')
df

           Building     Class  Credits  Professor
0            online   INST126        3  Linderman
1             Tawes  BMGT289E        3    schlake
2  Cambridge Center   ENGL101        3      Payne
3           Physics      TLPL        1      Karig

In [9]:
df.describe()

       Credits
count      4.0
mean       2.5
std        1.0
min        1.0
25%        2.5
50%        3.0
75%        3.0
max        3.0

In [10]:
df['Professor']

0    Linderman
1      schlake
2        Payne
3        Karig
Name: Professor, dtype: object